@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

* {
    -white: #FFFFFF;
    -dark: #191919;
    -lighter-dark: #292929;
    -lighter-dark-alt: #2c2c2c;
    -hovered: #E04679;
    -accent: #E2004B;
    -clickable: #515151;
    -clickable-alt: #494949;
}

.root{
    -fx-background-color: -dark;
}

.text{
    -fx-fill: -white;
    -fx-font-family: "Roboto";
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

/* Scroll Bars */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 0.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding :0.0 0.0 5.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 5.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -clickable;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 1em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:selected,
.scroll-bar:vertical .thumb:selected {
    -fx-background-color: -accent;
}

.corner{
	-fx-background-color: transparent;
}


.table-view{
    -fx-background-color: -lighter-dark;
    -fx-padding: 0 0 10 0;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
}

.table-view:focused {
    -fx-border-color: -accent;
    -fx-border-radius: 15;
}

.table-view .filler{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-row-cell{
    -fx-background-color: -lighter-dark;
    -fx-table-cell-border-color:transparent;
    -fx-padding: 0 6 0 6;
}

.table-row-cell:odd{
    -fx-background-color: -lighter-dark-alt;
}

.table-row-cell:selected {
    -fx-background-color: -accent;
    -fx-background-insets: 0;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.top-left{
    -fx-background-radius: 15 0 0 0;
}
.top-right{
    -fx-background-radius: 0 15 0 0;
}

.bold{
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: -clickable;
    -fx-border-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: -white;
    -fx-padding: 6 0;
    -fx-font-family: "Roboto";
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
}

.button:focused{
    -fx-border-color: -accent;
    -fx-background-insets: 0;
}
.button:hover{
    -fx-background-color: -accent;
}

.header {
    -fx-background-color: -accent;
    -fx-background-radius: 15;
}

.header-text {
    -fx-fill: white;
    -fx-font-weight:bold;
    -fx-font-size: 14;
}
